<div class="container">
    <h1 id="title">small town (<span id='murder'>Murder</span>) map</h1>
    <ul id="smm-links">
        <li><i class="fab fa-spotify icons"></i><a href="https://open.spotify.com/show/1fA0drEA0Tnbg6rzM43aff" target="_blank">Listen on Spotify</a></li>
        <li><i class="fas fa-podcast icons"></i><a href="https://podcasts.apple.com/us/podcast/small-town-murder/id1194755213" target="_blank">Listen on Apple Podcasts</a></li>
        <li><i class="fab fa-patreon icons"></i><a href="https://www.patreon.com/CrimeInSports" target="_blank">Become a Producer</a></li>
        <li><i class="fab fa-twitter icons"></i><a href="https://twitter.com/murdersmall" target="_blank">Follow on Twitter</a></li>
    </ul>
</div>
<murder-map></murder-map>