#title{
    font-family: 'Quicksand', sans-serif;
    margin: 2px;
}

#murder{
    font-family: 'Caveat', cursive;
    color: #951f1e;
}

.container{
    position: absolute;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    z-index: 1;
    border: solid 1px #7c7c7c;
    background-image: linear-gradient(to right bottom, #4c1616, #531818, #5b1a1a, #621c1c, #6a1e1e, #702020, #772222, #7d2424, #842626, #8a2828, #912a2a, #982c2c);
    border-radius: 82px;
    top: 35%;
    left: 65%;
    width: 30vw;
    height: 40vh;;
}

li {
    font-size: 24px;
    list-style-type: none;
    margin-top: 2%;
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
    color: #951f1e;
}

a:visited{
    color: #951f1e;
}

.icons{
    margin-right: 5%;
}

